<div class="item <%= first ? "active":"" %>">
  <%= link_to article_path(article) do %>
    <%= image_tag article.spp_article_image.url(:front_large) %>
    <div class="carousel-caption">
      <h1><%= I18n.locale == "en" ? article.title_en : article.title_no %></h1>
      <p><%= I18n.locale == "en" ? article.ingress_en : article.ingress_no %></p>
    </div>
  <% end %>
</div>
