<%= link_to article_path(article) do %>
  <%if article.youtube_link.blank?%>         
    <%= image_tag article.spp_article_image.url(image_size), class: "artpic" %>
  <%else%>
    <div class="article_youtube">
      <object width="220" height="131"><param name="movie" value="http://www.youtube.com/v/<%=article.youtube_link%>?fs=1&amp;hl=en_US">
        </param><param name="allowFullScreen" value="true"></param>
        <param name="allowscriptaccess" value="always"></param>
        <embed src="http://www.youtube.com/v/<%=article.youtube_link%>?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="220" height="131"></embed></object>
    </div>
  <%end%>
  <h1><%=article.title_en%></h1>
  <p><%=truncate(article.ingress_en, :length => 250, :separator => '')%></p>
<% end %>
