<%= content_for :meta do %>
  <meta property="og:title" content="All articles"/>
  <meta property="og:type" content="non_profit"/>
  <meta property="og:url" content="<%=(request.url).match(/([A-Za-z0-9:._\/]+)/)[1]%>"/>          
  <meta property="og:site_name" content="Student Peace Prize"/>
  <meta property="fb:app_id" content="132392463483362"/>
  <meta property="og:description" content="All articles"/>
<%end%>

<%= content_for :title do %>
  <% t('all_page_title') %>
<% end %>
<!--start: Wrapper-->
<div id="wrapper">

  <!--start: Container -->
  <div class="container">

    <hr>

    <!-- start: Row -->
    <div class="row">


<% @articles.each do |article| %>

<div id="article-header">
  <h1><%= link_to use_english? ? article.title_en : article.title_no, article_path(article.id) %></h1>
  <p><%= use_english? ? article.ingress_en : article.ingress_no %> </p>
</div>
<div id="article-metadata">
  <span class="byline">
    <em><%= t('.text') %>:</em> <%= article.byline %>
    <em><%= t('.photo') %>:</em> <%= article.image_text %>
    <em><%= t('.date') %>:</em> <%= article.created_at.strftime("%F") %>
  </span>
</div>
<%if @articles.last != article %>
<br />
<%end%>
<%end%>
<nav>
<div class="pagigation pagination-centered">
  <%= will_paginate @articles, :renderer => BootstrapPagination::Rails, :container => false %>
</div>
</nav>
</div>
</div>
</div>
