<%= content_for :meta do %>
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://www.studentpeaceprize.org/assets/logo-fredspris.png">
    <meta property="og:url" content="http://www.studentpeaceprize.org/">
    <meta property="og:title" content="The Student Peace Prize">
    <meta property="og:site_name" content="Student Peace Prize"/>
    <meta property="fb:app_id" content="132392463483362"/>
    <meta property="og:description" content="The Student Peace Prize is given out every other year on behalf of all students in Norway.">
<% end %>
<%= content_for :main_header do %>
    <div id="main-header" class="container hero-unit">
        <div class="span3">
            <h1><%= t('spp') %></h1>

            <p><%= t('video_text') %></p>
            <%= link_to t('read_more'), page_path(37 ,tab: "laureates"), class: "btn btn-primary btn-large" %>

        </div>
        <div class="span8">
          <iframe title="IframeTitle" width="600" height="350"
                src="http://www.stv.no/embed/8752/" frameborder="0" allowfullscreen scrolling=no></iframe>
        </div>
    </div>
<% end %>
<div class="carousel" id="featured-news">
    <div class="carousel-inner">
        <% @articles.each do |article| %>
            <% first = article == @articles.first %>
            <%= render article, first: first %>
        <% end %>
    </div>
    <a class="carousel-control left" href="#featured-news" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#featured-news" data-slide="next">&rsaquo;</a>
</div>
<div class="articles row">
    <div class="span4">
        <h1><%= link_to t('.about_prize_title'), page_path(16, tab: "about") %></h1>

        <p><%= t('.about_prize_paragraph') %></p>
    </div>
    <div class="span4">
        <h1><%= link_to t('.nominate_title'), article_path(7, tab: "about") %></h1>

        <p><%= t('.nominate_paragraph_one') %></p>

        <p><%= raw t('.nominate_paragraph_two') %> <%= mail_to "nominations@studentpeaceprize.org" %></p>
    </div>
</div>

<div class="pages row">
    <div class="span8">
        <hr>
        <% page = Page.find(20) %>
        <h1><%= link_to use_english? ? page.title_en : page.title_no, page_path(page) %></h1>

        <p><em><%= use_english? ? page.ingress_en : page.ingress_no %></em></p>

        <p><%= raw format use_english? ? page.body_en : page.body_no %></p>
    </div>
</div>

