<%= content_for :meta do %>
  <meta property="og:type" content="website">
  <meta property="og:image" content="http://www.studentpeaceprize.org/assets/logo-fredspris.png">
  <meta property="og:url" content="http://www.studentpeaceprize.org/">
  <meta property="og:title" content="The Student Peace Prize">
  <meta property="og:site_name" content="Student Peace Prize"/>
  <meta property="fb:app_id" content="132392463483362"/>
  <meta property="og:description" content="The Student Peace Prize is given out every other year on behalf of all students in Norway.">
<% end %>

<!-- start: Slider -->
<div class="slider-wrapper">

  <div id="da-slider" class="da-slider">

    <% @articles.each do |article| %>
      <%= render article %>
    <% end %>

    <nav class="da-arrows">
    <span class="da-arrows-prev"></span>
    <span class="da-arrows-next"></span>
    </nav>
  </div>

</div>
<!-- end: Slider -->

<!--start: Wrapper-->
<div id="wrapper">

  <!--start: Container -->
  <div class="container">
    <hr>

    <!-- start: Row -->
    <div class="row">

      <!-- start: Icon Boxes -->
      <div class="icons-box-vert-container">

        <!-- start: Icon Box Start -->
        <div class="span4">
          <div class="icons-box-vert">
            <i class="ico-cup ico-white circle-color-full"></i>
            <div class="icons-box-vert-info">
              <h3><%= link_to t('.about_paragraph_left_title'), page_path(16, tab: "about") %></h3>
              <p><%= t('.about_paragraph_left_body') %></p>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <!-- end: Icon Box-->

        <!-- start: Icon Box Start -->
        <div class="span4">
          <div class="icons-box-vert">
            <i class="ico-road ico-white circle-color-full"></i>
            <div class="icons-box-vert-info">
              <h3><%= link_to t('.about_paragraph_center_title'), page_path(20, tab: "about") %></h3>
              <p><%= t('.about_paragraph_center_body') %></p>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <!-- end: Icon Box -->

        <!-- start: Icon Box Start -->
        <div class="span4">
          <div class="icons-box-vert">
            <i class="ico-leaf  ico-white circle-color-full"></i>
            <div class="icons-box-vert-info">
              <h3><%= link_to t('.about_paragraph_right_title'), page_path(37, tab: "about") %></h3>
              <p><%= t('.about_paragraph_right_body') %></p>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <!-- end: Icon Box -->

      </div>
      <!-- end: Icon Boxes -->
      <div class="clear"></div>
    </div>
    <!-- end: Row -->
    <hr>
  </div>
  <!--end: Container-->

</div>
<!-- end: Wrapper  -->	

