<h1><%= t('new_article.title') %></h1>

<%= form_for(@article, :tab=>params[:tab]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title_en %><br />
    <%= f.text_field :title_en %>
  </p>
  <p>
    <%= f.label :title_no %><br />
    <%= f.text_field :title_no %>
  </p>
  <p>
    <%= f.label :ingress_en %><br />
    <%= f.text_area :ingress_en %>
  </p>
  <p>
    <%= f.label :ingress_no %><br />
    <%= f.text_area :ingress_no %>
  </p>
  <p>
    <%= f.label :body_en %><br />
    <%= f.text_area :body_en %>
  </p>
  <p>
    <%= f.label :body_no %><br />
    <%= f.text_area :body_no %>
  </p>
  <p>
    <%= f.label :press_release %><br />
    <%= f.check_box :press_release %>
  </p>
  <p>
    <%= f.label :deleted %><br />
    <%= f.check_box :deleted %>
  </p>
  <p>
    <%= f.label :visible %><br />
    <%= f.check_box :visible %>
  </p>
  <p>
    <%= f.label :main_article %> <br />
    <%= f.check_box :main_article %>
  </p>
  <p>
    <%= f.submit t(create) %>
  </p>
<% end %>
<%= link_to t(back), articles_path %>
