<%content_for :head do %>
  <meta property="og:title" content="<%=@article.title_en%>."/>
  <meta property="og:type" content="non_profit"/>
  <meta property="og:image" content="<%="http://www.studentpeaceprize.org/images/spp_article_images/"+@article.id.to_s + "_3.jpg"%>"/>
  <meta property="og:url" content="<%=(request.url).match(/([A-Za-z0-9:._\/]+)/)[1]%>"/>          
  <meta property="og:site_name" content="Student Peace Prize"/>
  <meta property="fb:app_id" content="132392463483362"/>
  <meta property="og:description" content="<%=@article.ingress_en%>"/>
<%end%>

<%if @article.youtube_link.blank? %>
<%if @picture%>
  <div style="float:right; margin-left:20px; margin-top: 20px; margin-bottom: 10px;  text-align:center">
  <%=raw image_tag @picture_path%><br />
  <%=@article.image_text%>
  </div>
  
<!--  <div class="infobox" style="float:right; margin-left:20px; margin-top:20px; margin-bottom: 10px;  text-align:left">
<p class="infoheader">Dette er en overskrift.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis pharetra quam, id pharetra leo pharetra consequat. Donec eros mi, ullamcorper id luctus in, commodo a purus. Morbi semper orci eget nisl commodo nec egestas nisi consequat. </p>
<p>Nam ante eros, aliquam vel auctor vel, commodo sed neque. Aenean magna velit, ultrices ut bibendum eu, pulvinar eget arcu. Pellentesque eget nulla eu lorem ornare suscipit sed sit amet justo. Phasellus dictum nisi et quam vulputate quis varius risus euismod. 
Duis gravida justo eu tellus commodo eu ultrices ante blandit.</p>
</div>-->
<% end%>
<%else%>
  <div style="float:right; margin-left:20px; margin-top: 20px; margin-bottom: 10px;  text-align:center">
    <object width="446" height="346"><param name="movie" value="http://www.youtube.com/v/<%=@article.youtube_link%>?fs=1&amp;hl=en_US">
    </param><param name="allowFullScreen" value="true"></param>
    <param name="allowscriptaccess" value="always"></param>
    <embed src="http://www.youtube.com/v/<%=@article.youtube_link%>?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="446" height="346"></embed></object>
  </div>
<%end%>

<span class="otherart">
<h1><%=raw @article.title_en%></h1>
<% unless @article.byline.blank? %>
  <p>
  <%=raw @article.byline%>
  <br>
  <%=  @article.created_at.strftime("%F")%>
  </p>
<%end%>
<h2><%=raw @article.ingress_en%></h2>
<%=raw format(@article.body_en)%>
</span>
<%if @article.got_comments%>
<%require 'cgi'%>
  <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=132392463483362&amp;xfbml=1"></script><fb:comments width="710"></fb:comments>
<%end%>
