<%= content_for :meta do %>
  <meta property="og:title" content="<%=@article.title_en.gsub("<br/>", " ") %>."/>
  <meta property="og:type" content="non_profit"/>
  <meta property="og:image" content="http://www.studentpeaceprize.org/<%= @article.spp_article_image.url(:front_small) %>"/>
  <meta property="og:url" content="<%=(request.url).match(/([A-Za-z0-9:._\/]+)/)[1]%>"/>          
  <meta property="og:site_name" content="Student Peace Prize"/>
  <meta property="fb:app_id" content="132392463483362"/>
  <meta property="og:description" content="<%=@article.ingress_en %>"/>
<%end%>

<%= content_for :title do %>
  <%= use_english? ? @article.title_en.gsub("<br/>", " ") : @article.title_no.gsub("<br/>", " ") + " -" %>
<% end %>
<!-- start: Page Title -->
<div id="page-title">

  <div id="page-title-inner">

    <!-- start: Container -->
    <div class="container">

      <h2><%= use_english? ? @article.title_en.gsub("<br/>", " ") : @article.title_no.gsub("<br/>", " ") %></h2>

    </div>
    <!-- end: Container  -->

  </div>	

</div>
<!-- end: Page Title -->

<!--start: Wrapper-->
<div id="wrapper">

  <!--start: Container -->
  <div class="container">

    <!--start: Row -->
    <div class="row">

      <div class="span6">

        <!-- start: Post -->
        <div class="post post-page">
          <div class="post-img picture">
            <%if @article.youtube_link? %>
              <%= youtube_movie @article.youtube_link, :show_youtube %>
            <%else%>
              <%= image_tag @article.spp_article_image.url(:front_large) %>
            <%end%>
          </div>
          <div class="post-content">
            <div class="post-ingress">
              <%= use_english? ? @article.ingress_en : @article.ingress_no %>
            </div>
            <div class="post-description">
              <%=raw format(use_english? ? @article.body_en : @article.body_no )%>
            </div>

            <div class="post-meta">
              <i class="mini-ico-calendar"></i><em><%= t('.date') %>:</em> <%= @article.created_at.strftime("%F") %>
              <i class="mini-ico-user"></i><em><%= t('.text') %>:</em> <%= @article.byline %>
              <i class="mini-ico-image"></i><em><%= t('.photo') %>:</em> <%= @article.image_text %>
            </div> </div>
          <%if @article.got_comments %>
            <div class="fb-comments" data-href="<%=request.url %>" data-num-posts="5" data-width="620"></div>
          <%end%>
        </div>
        <!-- end: Post -->
      </div>
      <!-- end: span9 -->
<!-- span3 -->
<div class="span4 offset2">
  <% cache(:action => "show", :action_suffix => @article.id.to_s ) do %>

    <div class="title"><h3><%= t('related_articles') %></h3></div>
    <% @related.each do |page| %>
      <div class="portfolio-item nature people isotope-item" >
        <div class="picture">
          <%= link_to article_path(page) do %>
            <%if page.youtube_link? %>
            <%else%>
              <%= image_tag page.spp_article_image.url(:front_small) %>
            <%end%>
            <div class="image-overlay-link" style="opacity: 0; display: block; "></div>
          <%end%>
          <div class="item-description alt">
            <h5><a href="project.html"><%= use_english? ? page.title_en : page.title_no %></a></h5>
            <p>
            <%= raw format use_english? ? page.ingress_en : page.ingress_no %>
            </p>
          </div>
          <div class="post-meta"><span><i class="mini-ico-calendar"></i><%= page.updated_at.strftime("%-d %B %Y") %></span></div>
        </div>	
      </div>
    <% end %>
    <ul class="links-list-alt">
      <li><%= link_to t('menu_articles'), all_articles_path %></li>
    </ul>
  <% end %>
</div>
      <!-- end: span3 -->


    </div>
    <!-- end: row -->      
  </div>
  <!--end: Container-->

</div>
<!-- end: Wrapper  -->		
