<h1>Editing page</h1>

<% form_for(@page) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title_en %><br />
    <%= f.text_field :title_en %>
  </p>
  <p>
    <%= f.label :ingress_en %><br />
    <%= f.text_area :ingress_en %>
  </p>
  <p>
    <%= f.label :body_en %><br />
    <%= f.text_area :body_en %>
  </p>
  <p>
  <%=link_to 'Edit Main Picture', {:controller => 'pictures', :action => 'new_page', :tab=>params[:tab], :page_id => @page.id}, {:popup => true} %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @page %> |
<%= link_to 'Back', pages_path %>
