<script type="text/javascript">
$(function() {
	$('#gallery a').lightBox({
		overlayBgColor: '#FFF',
		fixedNavigation: true,
		overlayOpacity: 0.6,
		imageLoading: '/images/lightbox-ico-loading.gif',
		imageBtnClose: '/images/lightbox-btn-close.gif',
		imageBtnPrev: '/images/lightbox-btn-prev.gif',
		imageBtnNext: '/images/lightbox-btn-next.gif',
		imageBlank: '/images/lightbox-blank.gif',
		containerResizeSpeed: 500,
		txtImage: 'Image',
		maxHeight: $(window).height()* 0.8,
		maxWidth: $(window).width() * 0.8,
		txtOf: 'of'
	 });
});
</script>

<%= link_to 'Back', gallery_path(@gallery_album.gallery), :tab => params[:tab] %>
<p>
  <h1><b><%= @gallery_album.title %></b></h1>
</p>

<p>
  <b>Description:</b>
  <%= @gallery_album.description %>
</p>

<br /><br />
<div id='gallery'>
  <% if (@album_photos != nil) %>
  	<% @album_photos.each do |photo| %>
		<%= link_to image_tag(photo.photo.url(:small), :size => '180x150',:border => 0, :alt => photo.title), photo.photo.url %>
  	<% end %>
  <% end %>
</div>
<br />

<%= link_to 'Back', gallery_path(@gallery_album.gallery), :tab => params[:tab] %>
