<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>The Student Peace Prize</title>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18016792-2']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

</script>

<%= stylesheet_link_tag "reset", 'text', '960','style'%>
<%= javascript_include_tag 'jquery', 'application', 'jquery.lightbox-0.5' %>
<%=yield :head%>

  </head>
  <body>
    <div id="wrapper" class="container_16">
      <div id="quotation" class="grid_8 prefix_1 suffix_3">
        <%@top_quote = Quote.find(:all, :conditions=>"top = 1", :order=>:weight).last%>
        <%if @top_quote != nil%><p class="quote"><%= image_tag "quote.png", :class=> 'quote',  :height=>'21', :width => '24'%> <%=@top_quote.quote%> </p>
          <br /> <p class="quote2"><%=@top_quote.name%>, <%=@top_quote.position%></p>
        <%end%>
      </div>
      <div class="clear">
      </div>
      <div id="nav" class="grid_12 suffix_4">
        <% tabs = Tab.find(:all)%>
        <ul id="menu">
          <% current_tab = nil
          if params[:tab] == nil
            params[:tab] = "home"
          end
          tabs.each do |tab| 
            if tab.tag == params[:tab]
              current_tab = tab
            end
            if tab.tag == "home"%>
            <li>
              <%= link_to( tab.name_en, root_path, :class =>(params[:tab] == tab.tag ? 'mactive' : 'minactive'))%>
            </li>
            <%end%>
            <%if tab.sublinks.first != nil%>
              <li>
                <%=link_to(tab.name_en, page_path(tab.sublinks.first.page, :tab => tab.tag), :class =>(params[:tab] == tab.tag ? 'mactive' : 'minactive'))%>
                </li>
              <%end%>
            <%end%>
          </ul>
        </div>
        <div class="clear">
        </div>
        <div id="headertext" class="grid_12 suffix_4">
        </div>
        <div class="clear">
        </div>
        <%# @currentTab = Tab.find(:first, :conditions=> {:tag => params[:tag]})%>
        <%if current_tab.sublinks.size == 0%>
          <div id="subnav" class="grid_12">
          </div>
        <%else%>
          <div id="activesubnav" class="grid_12">
            <ul id="submenu">
              <% current_tab.sublinks.each do |sublink| %>
                <li>
                  <%if sublink.external_url.blank?%>
                    <%=link_to(sublink.title_en, page_path(sublink.page, :tab => params[:tab]), :class =>(params[:id].to_i == sublink.page_id ? 'mactive' : 'minactive') )%>
                  <%else%>
                    <%=link_to(sublink.title_en, sublink.external_url, :target=>"_BLANK")%>
                  <%end%>
                  </li>
                <%end%>
              </ul>
            </div>
          <%end%>
          <div id="spacersubnav" class="grid_3 suffix_1">
          </div>
          <div class="clear">
          </div>
          <div id="mainframe" class="grid_12">

            <%= yield %>
            <div id="mainend" class="grid_12 alpha omega">
              <hr>
            </div>
            <div class="clear">
            </div>
          </div>
          <div id="sidebar" class="grid_3">
              <%= render :partial => 'events/calendar' %>
            <%@side_quote = Quote.find(:all, :conditions=>"side = 1", :order=>:weight).last%>
            <%if @side_quote != nil%>
              <p><%=@side_quote.quote%></p>
              <p class="signature">
              <%if @side_quote.picture_path != ""%><%= image_tag @side_quote.picture_path, :width => "135px" %><%end%>
              <%=@side_quote.name%><br />
              <%=@side_quote.position%></p>
            <%end%>
			  <br>
<!--<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'search',
  search: 'studpeaceprize',
  interval: 6000,
  title: '',
  subject: 'Twitter feed',
  width: 'auto',
  height: 0,
  theme: {
    shell: {
      background: '135',
      color: '250'
    },
    tweets: {
      background: 'ff0000',
      color: '255',
      links: '0'
    }
  },
  features: {
    scrollbar: false,
    loop: true,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: true,
    toptweets: true,
    behavior: 'default'
  }
}).render().start();
</script>-->
<div style="padding-top:5px;background-color:white;text-align:right">
            <%= link_to image_tag("facebook.png"), "http://www.facebook.com/pages/The-Student-Peace-Prize/163068897045389", :target => "_blank" %>
            <%= link_to image_tag("twitter.png"), "http://www.twitter.com/studpeaceprize", :target => "_blank" %>
</div>
          </div>
          <div id="spacerright" class="grid_1">
          </div>
          <div class="clear">
          </div>
          <div id="footer" class="grid_15 suffix_1">
            <hr>
          </div>
          <div id="footernav" class="grid_8">
            <h1>Navigation</h1>
            <hr width="460px">
            <div class="grid_2 alpha">

              <ul class="footermenu" >
                <% tabs = Tab.find(:all) %>
                <li ><%=link_to(tabs[0].name_en, root_path, :class => :category)%></li>
                <li > &nbsp;</li>
                <li ><%=link_to(tabs[1].name_en, page_path(tabs[1].sublinks.first.page, :tab => tabs[1].tag), :class => :category)%></li>
                <%tabs[1].sublinks.each do |sublink| %>
                  <li><%=link_to(sublink.title_en, page_path(sublink.page, :tab => tabs[1].tag), :class=> :subcategory)%></li>
                <%end%>
                <br />
              </ul>
            </div>
            <div class="grid_2">
              <ul class="footermenu" >
                <li ><%=link_to(tabs[2].name_en, page_path(tabs[2].sublinks.first.page, :tab => tabs[2].tag), :class=> :category)%></li>
                <%tabs[2].sublinks.each do |sublink| %>
                  <li><%=link_to(sublink.title_en, page_path(sublink.page, :tab => tabs[2].tag), :class=> :subcategory)%></li>
                <%end%>
              </ul>
            </div>
            <div class="grid_2">
              <ul class="footermenu" >
                <li ><%=link_to(tabs[3].name_en, page_path(tabs[3].sublinks.first.page, :tab => tabs[3].tag), :class=> :category)%></li>
                <%tabs[3].sublinks.each do |sublink| %>
                  <li><%=link_to(sublink.title_en, page_path(sublink.page, :tab => tabs[3].tag), :class => :subcategory)%></li>
                <%end%>
              </ul>
            </div>
            <div class="grid_2 omega">
              <ul class="footermenu" >
                <li ><%=link_to(tabs[4].name_en, page_path(tabs[4].sublinks.first.page, :tab => tabs[4].tag), :class => :category)%></li>
                <%tabs[4].sublinks.each do |sublink| %>
                  <li><%=link_to(sublink.title_en, page_path(sublink.page, :tab => tabs[4].tag), :class => :subcategory)%></li>
                <%end%>

                <li >&nbsp;</li>
                <li ><%=link_to(tabs[5].name_en, page_path(tabs[5].sublinks.first.page, :tab => tabs[5].tag), :class => :category)%></li>
                <%tabs[5].sublinks.each do |sublink| %>
                  <li><%=link_to(sublink.title_en, page_path(sublink.page, :tab => tabs[5].tag), :class => :subcategory)%></li>
                <%end%>

              </ul>
            </div>

          </div>

          <div id="footerpart" class="grid_4">
            <h1>Partners</h1>
            <hr>
            <%=link_to image_tag("saih-logo.gif", :alt=>'SAIH'), "http://www.saih.no", :target=>"_blank"%>
            <div class="grid_2 alpha">
              <%#=link_to image_tag ("sit.png", :alt=>'sit', :width=>'100'), "http://www.sit.no", :target=>"_blank"%>
              <%=link_to image_tag("logoNSO.jpg", :alt=>'nso'), "http://www.student.no", :target=>"_blank"%><br>
			  <%=link_to image_tag("isfit.png", :alt=>'isfit', :width=>'100'), "http://www.isfit.org", :target=>"_blank"%>
            </div>
            <div class="grid_2 omega">
             
            </div>
      </div>
          <div id="footerinfo" class="grid_3 omega">
            <h1>Contact info</h1>
            <hr>
            <div class="grid_3 alpha omega">
              <p>The StudentPeace Prize Secretariat<br>
               Phone:<br><font color="#63b0b3">(+47) 91749414</font><br>
                E-mail:<br><font color="#d56b1d">contact@studentpeaceprize.org</font></p>
            </div>
          </div>
        </body>
      </html>
