<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= yield :title %>The Student Peace Prize</title>
    <meta name="description" content="The Student Peace Prize is given out every other year on behalf of all students in Norway.">
    <meta name="keywords" content="student, peace, prize, peace prize, student peace prize">
    <meta property="og:site_name" content="The Student Peace Prize">

    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.studentpeaceprize.org/">
    <meta property="og:title" content="The Student Peace Prize">
    <meta property="og:description" content="The Student Peace Prize is given out every other year on behalf of all students in Norway.">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <%= yield :styles %>
    <%= stylesheet_link_tag 'application' %>

    <!-- Le fav and touch icons -->
    <!--
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18016792-2']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

</script>



<%= yield :head %>
   </head>

   <body>
     <div id="fb-root"></div>
     <script>(function(d, s, id) {
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) return;
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/nb_NO/all.js#xfbml=1&appId=132392463483362";
       fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));</script>
     <div class="container">
       <div class="row">
         <div class="span12" id="header">
           <%= link_to image_tag("logo.png"), root_path %>
           <div id="tabs" class="pull-right">
             <% tabs = Tab.find(:all)%>
             <ul class="nav nav-pills">
               <% current_tab = nil %>
               <%if params[:tab] == nil%>
                 <% params[:tab] = "home" %>
               <% end %>
               <% tabs.each do |tab| %>
                 <% if tab.tag == params[:tab] %>
                   <% current_tab = tab %>
                 <% end %>
                 <% if tab.tag == "home"%>
                   <li class="<%= params[:tab] == tab.tag ? 'active' : '' %>">
                   <%=raw link_to tab.name_en.html_safe, root_path%>
                   </li>
                 <%end%>
                 <%if tab.sublinks.first != nil%>
                   <li class="<%= params[:tab] == tab.tag ? 'active' : '' %>">
                   <%=raw link_to(tab.name_en.html_safe, page_path(tab.sublinks.first.page, :tab => tab.tag))%>
                   </li>
                 <%end%>
               <%end%>
             </ul>
           </div>
         </div>
       </div>
       <div id="main" class="row">
         <div class="span8" id="content">
           <%= yield %>
         </div>
         <div class="span4" id="sidebar">
           <% if current_tab.sublinks.count > 0 %>
             <div class="navigation well widget">
               <ul class="nav nav-list">
                 <li class="nav-header">Navigation</li>
                 <% current_tab.sublinks.each do |sublink| %>
                   <li class="<%= params[:id].to_i == sublink.page_id ? "active":"" %>">
                   <% if sublink.external_url.blank? %>
                     <%=raw link_to sublink.title_en, page_path(sublink.page) %>
                   <% else %>
                     <%=raw link_to sublink.title_en, sublink.external_url, target: "_BLANK" %>
                   <% end %>
                   </li>
                 <% end %>
               </ul>
             </div>
           <% end %>
           <div class="well twitter widget">
             <div class="pull-right">
               <a href="https://twitter.com/StudPeacePrize" class="twitter-follow-button" data-show-count="false" data-width="160px">Follow @StudPeacePrize</a>
               <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
             </div>
             <div id="twitter-box">
               <h1>Twitter</h1>
               <img src="https://si0.twimg.com/profile_images/195954511/profilbilde1_normal.png" class="pull-left twitpic" height="30px" width="30px" />
               <p>Dette er en kjempelang tweet for å teste om den nye @ISFiT-siden støtter lange tweets. Utrolig hvor mye man får inn på 160 tegn... #ISFiT</p>
               <small class="pull-right">Dag-Inge Aas @ Trondheim, Norway</small>
             </div>
           </div>
           <div class="well facebook widget">
             <div class="pull-right">
               <div class="fb-like" data-href="http://facebook.com/studentpeaceprize" data-send="false" data-layout="box_count" data-width="45" data-show-faces="false"></div>
             </div>
             <h1>Facebook</h1>
             <p>We are on Facebook! Are you? Like us to get the latest updates.</p>
           </div>
           <div class="promotional">
             <a href="http://www.isfit.org/assets/downloads/final.pdf">
               <img src="assets/img/theisfitway.png">
             </a>
           </div>
           <div class="well widget" id="spp-news">
             <h1>Press</h1>
             <div class="spp-article">
               <img src="assets/img/google.jpg">
               <h2>Global Truce Day and the Student Peace Prize</h2>
               <p>Lederen av Studentenes Fredspris, Therese Høstad og Presidenten for ISFiT (Internasjonal Studentfestival i Trondheim), Kaja Juul Skarbø vil mandag 27. februar delta på den spesielle begivenheten i London. Peace One Day-grunnlegger Jeremy Gilley og ambassadør Jude Law vil være tilstede. I samarbeid med NSO (Norsk Studentorganisasjon) skal ISFiT og Studentenes Fredspris engasjere norske og internasjonale studenter på Fredsdagen 21. september.</p>
             </div>
           </div>
         </div>
       </div>
     </div> <!-- /container -->
     <div id="footer" class="container">
       <div class="row">
         <div class="span6">
           <h1>Navigation</h1>
           <!--
           <% tabs = Tab.all %>
           <div class="row">
             <div class="span2">
               <ul class="nav nav-list">
                 <li class="nav-header"><%= tabs[0].name_en %></li>
                 <li><%= link_to "Home", root_path %></li>
                 <li class="nav-header"><%=tabs[1].name_en %></li>
                <%tabs[1].sublinks.each do |sublink| %>
                  <li><%=link_to(sublink.title_en, page_path(sublink.page, :tab => tabs[1].tag))%></li>
                <%end%>
              </ul>
            </div>
             TODO complete this -->
         </div>

         <div class="span3">
           <h1>Partners</h1>
           <%=link_to image_tag("isfit.png", :alt=>'isfit', :width=>'100'), "http://www.isfit.org", :target=>"_blank"%>
           <%=link_to image_tag("saih-logo.gif", :alt=>'SAIH'), "http://www.saih.no", :target=>"_blank"%>
           <%=link_to image_tag("logoNSO.jpg", :alt=>'nso'), "http://www.student.no", :target=>"_blank"%><br>
         </div>
         <div class="span3">
           <h1>Contact</h1>
           <p>The Student Peace Prize Secretariat<br>
           <i class="icon-signal"></i> <a href="tel:+4748136233">+47 481 36 233</a><br>
           <i class="icon-envelope"></i> <a href="mailto:contact@studentpeaceprize.org">contact@studentpeaceprize.org</a>
           </p>
         </div>

       </div>
     </div>


     <!-- Le javascript
     ================================================== -->
     <!-- Placed at the end of the document so the pages load faster -->
     <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' %>
     <%= javascript_include_tag 'application' %>
     <%= yield :scripts %>

   </body>
 </html>
