<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- end: Mobile Specific -->

    <meta charset="utf-8">
    <title><%= yield :title %>The Student Peace Prize</title>
    <meta name="description" content="The Student Peace Prize is given out every other year on behalf of all students in Norway.">
    <meta name="keywords" content="student, peace, prize, peace prize, student peace prize">
    <meta property="og:site_name" content="The Student Peace Prize">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.ico">

    <%= yield :meta %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
<script type="text/javascript" src="http://typecast.com/project_css/christian-knappskog/530130924abb9.js"></script>
    <%= yield :styles %>
    <%= stylesheet_link_tag 'application' %>

    <!-- Le fav and touch icons -->
    <!--
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->
    <%= yield :head %>
  </head>

  <body>
    <!--start: Header -->
    <header>

    <!--start: Container -->
    <div class="container">

      <!--start: Navbar -->
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to(root_path, :class => "brand") do %>
            <%= image_tag "logo-fredspris.png" %> The <span>Student Peace Prize</span>
          <% end %>
          <div class="nav-collapse collapse">
            <ul class="nav">           
              <% if params[:tab] == nil %>
                <% params[:tab] = "home" %>
              <% end %>
              <% cache("#{I18n.locale.to_s}/#{params[:tab]}") do %>
                <% Tab.all.each do |tab| %>
                  <%= render 'layouts/tab', tab: tab %>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <!--end: Navbar -->
    </div>
    <!--end: Container-->			

    </header>
    <!--end: Header-->
    <%= yield :main_header %>
    <%= yield %>
    <!-- /container -->

    <!-- start: Footer Menu -->
    <div id="footer-menu" class="hidden-tablet hidden-phone">

      <!-- start: Container -->
      <div class="container">

        <!-- start: Row -->
        <div class="row">

          <!-- start: Footer Menu Logo -->
          <div class="span4">
            <div id="footer-menu-logo">
              <a class="brand" href="index.html"><%= image_tag "logo-fredspris.png" %> The <span>Student Peace Prize</span></a>
            </div>
          </div>
          <!-- end: Footer Menu Logo -->

          <!-- start: Footer Menu Links-->
          <div class="span7">

            <div id="footer-menu-links">

              <ul id="footer-nav">
                <li><%= link_to t('menu_home'), root_path %></li>
                <li><%= link_to t('menu_about'), page_path(16, tab:"home")%></li>
                <li><%= link_to t('menu_laureates'), page_path(37, tab:"home")%></li>
                <li><%= link_to t('menu_committe'), page_path(36, tab:"home")%></li>
                <li><%= link_to t('menu_press'), page_path(32, tab:"home")%></li>
                <li><%= link_to t('menu_contact'), page_path(25, tab:"home")%></li>
                <% if use_english? %>
                  <li><%= link_to "Norsk Utgave", "http://www.studentpeaceprize.org/nb/" %></li>
                <% else %>
                  <li><%= link_to "English Version", "http://www.studentpeaceprize.org/en/" %></li>
                <% end %>
              </ul>
            </div>

          </div>
          <!-- end: Footer Menu Links-->

          <!-- start: Footer Menu Back To Top -->
          <div class="span1">

            <div id="footer-menu-back-to-top">
              <a href="#"></a>
            </div>

          </div>
          <!-- end: Footer Menu Back To Top -->

        </div>
        <!-- end: Row -->

      </div>
      <!-- end: Container  -->	

    </div>	
    <!-- end: Footer Menu -->

    <!-- start: Footer -->
    <div id="footer">

      <!-- start: Container -->
      <div class="container">

        <!-- start: Row -->
        <div class="row">

          <!-- start: About -->
          <div class="span2">

            <h3><%= t('about_us_title') %></h3>
            <p><%= t('about_us_body') %></p>

          </div>
          <!-- end: About -->

          <!-- start: Photo Stream -->
          <div class="span2">

            <h3><%= t('contact') %></h3>

            <p>
            <i class="icon-user"></i> <a href="mailto:thomas.haug@isfit.no">Thomas Haug</a><br>
            <i class="icon-signal"></i> <a href="tel:+4741424380">+47 41 42 43 80</a><br>

            <a href="mailto:contact@studentpeaceprize.org">contact@studentpeaceprize.org</a>
            </p>

          </div>
          <!-- end: Photo Stream -->

          <div class="span3">

            <!-- start: Follow Us -->
            <h3><%= t('follow') %></h3>
            <ul class="social-grid">
              <li>
              <div class="social-item">				
                <div class="social-info-wrap">
                  <div class="social-info">
                    <div class="social-info-front social-twitter">
                      <a href="https://twitter.com/StudPeacePrize"></a>
                    </div>
                    <div class="social-info-back social-twitter-hover">
                      <a href="https://twitter.com/StudPeacePrize"></a>
                    </div>	
                  </div>
                </div>
              </div>
              </li>
              <li>
              <div class="social-item">				
                <div class="social-info-wrap">
                  <div class="social-info">
                    <div class="social-info-front social-facebook">
                      <a href="https://www.facebook.com/studentpeaceprize"></a>
                    </div>
                    <div class="social-info-back social-facebook-hover">
                      <a href="https://www.facebook.com/studentpeaceprize"></a>
                    </div>
                  </div>
                </div>
              </div>
              </li>
            </ul>
            <!-- end: Follow Us -->
          </div>
          <!-- start: Partners -->
          <div class="span5">
            <h3><%= t('partners') %></h3>
            <%= link_to image_tag("isfit.png", :alt => 'isfit', :width => '100'), "http://www.isfit.org", :target => "_blank" %>
            <%= link_to image_tag("saih-logo.gif", :alt => 'SAIH'), "http://www.saih.no", :target => "_blank" %>
            <%= link_to image_tag("logoNSO.jpg", :alt => 'nso'), "http://www.student.no", :target => "_blank" %>
          </div>

          <!-- end: Partners -->
        </div>
        <!-- end: Row -->	

      </div>
      <!-- end: Container  -->

    </div>
    <!-- end: Footer -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18016792-2']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script>
     <%= yield :scripts %>

   </body>
 </html>
